* {
    padding: 0;
    margin: 0;
}

body {
    background: #555;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    color: #444;
    line-height: 15px;
}

img { border: none; }
a { color: #666; }
a:hover { text-decoration: none; color : #000000; }

dd {
    margin-left: 25px;
    font-style: italic;
   }

#wrap {
    background: #eee;
    padding: 10px;
    width: 780px;
    margin: 0 auto;
}

.desc {
    font-size: 10px;
    padding:   0px 0px 2px 15px;
}


#header {
    height: 180px;
    background: #fff url(/images/header.png) no-repeat;
}
#header h1 {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -2px;
    padding: 30px 135px 0 0;
    text-align: right;
}
#header h1 a {
    color: #666;
    text-decoration: none;
}
#header h1 a:hover {
    color: #555;
    text-decoration: none;
}

#header h2 {
    font-size: 16px;
    color: #666;
    padding: 9px 135px 0 0;
    text-align: right;
}

#header h4 {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -2px;
    padding: 30px 135px 0 0;
    text-align: right;
}
#header h4 a {
    color: #666;
    text-decoration: none;
}
#header h4 a:hover {
    color: #555;
    text-decoration: none;
}

#header h5 {
font-size: 16px;
color: #666;
padding: 9px 135px 0 0;
text-align: right;
}

#content {
padding: 0 20px;
}



#right {
margin-top: 10px;
width: 560px;
float: right;
font-size: 12px;
text-align: justify;
}
#right h1 { border-bottom: 1px dotted #aaa; color: #666; line-height: 22px; margin: 14px 0px 7px 0px; font-weight: 100; font-size: 22px; letter-spacing: -1px;}
#right h2 { color: #666; margin: 0; padding: 0px; font-size: 15px; letter-spacing: -1px;}
#right h3 { color: #666; margin: 0; padding: 0px; font-size: 11px; letter-spacing: -1px;}

#right ul { list-style-type: none; padding: 0px 0 0px 0; }
#right ul li { padding: 1px 0 1px 0; }
#right ul li a { color: #666; font-weight: 100; text-decoration: none; font-size: 12px; }
#right ul li a:hover { color : #333; }


#left {
margin-top: 10px;
width: 160px;
float: left;
}
#left h1 { border-bottom: 1px dotted #aaa; color: #666; line-height: 22px; margin: 14px 0 7px 0; font-weight: 100; font-size: 22px; letter-spacing: -1px;}
#left h2 { color: #666; margin: 0; padding: 0px; font-size: 15px; letter-spacing: -1px;}

#left ul { list-style-type: none; padding: 0px 0 0px 0; }
#left ul li { padding: 2px 0 3px 0; }
#left ul li a { color: #666; font-weight: 100; display: block; text-decoration: none; font-size: 14px; }
#left ul li a:hover { color : #333; }


#footer {
font-size: 11px;
color: #999;
text-align: center;
padding: 10px 0;
margin: 70px 0 0 0;
border-top: 1px dotted #aaa;

}
#footer a { 
color: #999;
}
#footer a:hover {
color: #000; 
text-decoration: underline; 
}



h4, h5 {
    padding: 0;
    margin: 0;
} 
